# Python
__pycache__/
*.py[cod]
venv/
.env

# Build & Packaging
build/
dist/
*.spec
*.msix
Assets/
result.xml

# Security (NEVER COMMIT PFX FILES)
*.pfx

# OS
.DS_Store
Thumbs.db

# Keep requirements
!requirements.txt
